<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.zokni1996.android_forum">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="hu.zokni1996.android_forum.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="hu.zokni1996.android_forum.permission.C2D_MESSAGE" />

    <application
        android:name=".Parse.RegisterApplication"
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/NameApp">
        <activity
            android:name="hu.zokni1996.android_forum.Main.Splash"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.ActiveTopics.ActiveTopicsFragment"
            android:theme="@android:style/Theme.Holo.Light"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/NameApp"
            android:launchMode="singleTop"/>
        <activity
            android:name=".Main.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/NameApp"
            android:launchMode="singleTop"
            android:theme="@style/StyleThemeDrawer" />
        <activity
            android:name=".Main.Settings"
            android:label="@string/NameSettings" />

        <service
            android:name=".Main.Service.MainService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".Main.Service.MainReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="startServiceAndroidForum" />
                <action android:name="stopServiceAndroidForum" />
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="hu.zokni1996.android_forum" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
